<section>
    <div>
        <form action="addfile" enctype="multipart/form-data" method="post">
            <input type="file" name="temp" id="temp" multiple>
            <button type="submit">Enter</button>
        </form>
    </div>
</section>