<div class="row" style="height: 800px;">

  <div class="col-2" style="background-color: rgb(211, 218, 219);">
    <div class="m-4">
      <a  href="/admin/view-products"><h6>Product Management</h6></a>
      <a  href="/admin/view-users"><h6>User Management</h6></a>
      <a  href="/admin/view-category"><h6>Category Management</h6></a>
      <a  href="/admin/addfile"><h6>Order Management</h6></a>
      <a  href="/admin/adminhome"><h6>Banners</h6></a>
      <a  href="/admin/adminhome"><h6>Reports</h6></a>
      <a  href="/admin/adminhome"><h6>Messages</h6></a>
      <a  href="/admin/adminhome"><h6>Feedback</h6></a>
    </div>
  </div>
  <div class="col-10" style="background-color: azure;"></div>
</div>