<section class="container">
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form action="/admin/add-users" method="post">
     <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail33" name="uname" onkeyup="validName()">
      <span id="name-error" class="text-danger text-center"></span>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" name="uemail" onkeyup="validEmail()">
      <span id="uemail-error" class="text-danger text-center"></span>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" name="Password" onkeyup="validPsd()">
      <span id="upsd-error" class="text-danger text-center"></span>
    </div>
  </div>
 
  <button type="submit" class="btn btn-primary" onclick="return formValid()">Add User</button>
  <button type="reset" class="btn btn-primary">Reset</button>
</form>
    </div>
</div>
</section>


  <script>
   var psdError = document.getElementById('upsd-error');
   var emailError = document.getElementById('uemail-error');
   var nameError = document.getElementById('name-error');

  const form=document.getElementById('form');

  function validName(){
    
    var name = document.getElementById('inputEmail33').value;
   
    if(name.length==0){
        nameError.innerHTML= 'Name is required';
        return false;
    }
    if(!name.match(/^[A-Za-z]*$/)){
        nameError.innerHTML='Numbers and Special Charectors not allowd';
        return false;
    }
    nameError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
    return true;
}

function validEmail(){
    
    var email = document.getElementById('inputEmail3').value;
   
    if(email.length==0){
        emailError.innerHTML= 'Email is required....';
        return false;
    }
    if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
        emailError.innerHTML='Invalid Email Format....';
        return false;
    }
    emailError.innerHTML = "";
    return true;
}
 
 function validPsd(){
 
  var psd = document.getElementById('inputPassword3').value;
   if(psd.length == 0){
        psdError.innerHTML= 'Password is required';
        return false;
    }
    if(psd.length < 3){
        psdError.innerHTML= 'Password must be atleast 3 charecters ';
        return false;
    }
    if(!psd.match(/((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%?=*&]).{8,20})/)){
      psdError.innerHTML= 'Password has invalid syntax';
        return false;
    }
  
    psdError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
    return true;
 }
 function formValid(){
   if(!validName() || !validPsd() || !validEmail()){
      return false;
   }
   return true;
 }
</script>


