
<nav class="navbar navbar-expand-lg navbar-light shadow-lg p-3 mb-5 bg-body rounded" style="">
  <a class="navbar-brand ms-3" href="#">
      <img src="/images/admin-log.svg" alt="" width="50" height="34" class="d-inline-block align-text-top" >
    </a>
    
  <a class="navbar-brand btn btn-outline-secondary" href="/admin/adminhome"><h3>Admin Dashboard</h3></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    
    <div class="d-flex" style="margin-left: auto; margin-right: 20px;">

      {{#if admin}}
      <h3><a class="btn btn-outline-dark" style="width: 100px; height: 40px;" href="/admin/logout">Log Out</a></h3>
      
      {{/if}}
   
    </div>
   
    
  </div>
  
</nav>
