{{!-- 

  <div class="col-6" style="background-color: rgb(211, 218, 219); max-height: auto; border-radius: 10px;">
    <div class="ms-4 mt-4 p-4" >
      <a  href="/admin/view-products"><h6>Product Management</h6></a>
      <a  href="/admin/view-users"><h6>User Management</h6></a>
      <a  href="/admin/view-category"><h6>Category Management</h6></a>
      <a  href="/admin/view-orders"><h6>Order Management</h6></a>
      <a  href="/admin/adminhome"><h6>Banners</h6></a>
      <a  href="/admin/adminhome"><h6>Reports</h6></a>
      <a  href="/admin/adminhome"><h6>Messages</h6></a>
      <a  href="/admin/adminhome"><h6>Feedback</h6></a>
    </div>
</div> --}}
<div class="row p-5 ms-3 shadow-lg p-3 mb-5 bg-body rounded" style="height: 100%; border-radius: 10px; font-size: smaller;">
  <div class="col 4">
    <div class="row">
      <div class="col-12">
      <a  href="/admin/view-products" style="text-decoration: none; mb-3 font-size: smaller; width: 200px;" class="btn btn-outline-dark btn-sm mb-3"><h6>Product Management</h6></a>
      </div>
      </div>
    <div class="row">
      <div class="col-12">
      <a  href="/admin/view-users" style="text-decoration: none; mb-3 font-size: smaller; width: 200px;" class="btn btn-outline-dark btn-sm mb-3"><h6>User Management</h6></a>
      </div>
      </div>
    <div class="row">
      <div class="col-12">
      <a  href="/admin/view-category" style="text-decoration: none; mb-3 font-size: smaller; width: 200px;" class="btn btn-outline-dark btn-sm mb-3"><h6>Category Management</h6></a>
      </div>
      </div>
    <div class="row">
      <div class="col-12">
      <a  href="/admin/view-orders" style="text-decoration: none; mb-3 font-size: smaller; width: 200px;" class="btn btn-outline-dark btn-sm mb-3"><h6>Order Management</h6></a>
      </div>
      </div>
    <div class="row">
      <div class="col-12">
      <a  href="/admin/banner" style="text-decoration: none; mb-3 font-size: smaller; width: 200px;" class="btn btn-outline-dark btn-sm mb-3"><h6>Banners</h6></a>
      </div>
      </div>
    <div class="row">
      <div class="col-12">
      <a  href="/pdf/" style="text-decoration: none; mb-3 font-size: smaller; width: 200px;" class="btn btn-outline-dark btn-sm mb-3"><h6>Reports</h6></a>
      </div>
      </div>
    <div class="row">
      <div class="col-12">
      <a  href="/admin/adminhome" style="text-decoration: none; mb-3 font-size: smaller; width: 200px;" class="btn btn-outline-dark btn-sm mb-3"><h6>Messages</h6></a>
      </div>
      </div>
    <div class="row">
      <div class="col-12">
      <a  href="/admin/adminhome" style="text-decoration: none; font-size: smaller; width: 200px;" class="btn btn-outline-dark btn-sm mb-3"><h6>Feedback</h6></a>
      </div>
      </div>
 </div>
</div>
