

<section class="">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(4, 204, 80);">
   <div style="height: 40px; width: 40px; background-color: black; color: green; border-radius: 10px; font-weight: bold; padding-right: 5px;" class="ms-5">Og</div>
  <a class="navbar-brand ms-3" href="#" style="color: antiquewhite;">Organic Store</a>
</nav>
</section>
