{{!-- <section>
    <div style="width: 100%; height: 100px; background-color: rgb(4, 204, 80);" >
       
    </div>
</section> --}}
            <footer id="footer" >

                <div class="footer-container">
                    <div class="footer_top">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-4 links footer_block">
                                    <div class="footer_about_us">
                                        <div class="logo_footer">
                                            <div style="margin-left: 50px; width: 200px; height: 50px; background-color: black; border-radius: 5px; border: 1px solid bisque; color: aliceblue; font-size: medium; padding-top: 15px; padding-left: 80px;">Organic Store</div>
                                        </div>
                                        <div class="desc_info">
                                            <div class="need_help">
                                                <p>NEED HELP?</p>
                                                <p class="phone">(+91) 8089181393</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-footer social_follow ">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com" target="_blank">Facebook</a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com" target="_blank">Twitter</a>
                                            </li>
                                            <li class="youtube">
                                                <a href="https://www.youtube.com" target="_blank">YouTube</a>
                                            </li>
                                            <li class="googleplus">
                                                <a href="https://plus.google.com" target="_blank">Google +</a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com" target="_blank">Instagram</a>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                                <div class="col-md-2 links footer_block">
                                    <h3 class=" hidden-sm-down">Information</h3>
                                    <div class="title clearfix hidden-md-up" data-target="#footer_2" data-toggle="collapse">
                                        <h3>Information</h3>
                                        <span class="float-xs-right">
                                            <span class="navbar-toggler collapse-icons">
                                                <i class="material-icons add">keyboard_arrow_down</i>
                                                <i class="material-icons remove">keyboard_arrow_up</i>
                                            </span>
                                        </span>
                                    </div>
                                    <ul id="footer_2" class="collapse footer_list">

                                        <li>
                                            <a id="link-cms-page-1-2" class="cms-page-link" href="" title="Our terms and conditions of delivery">
                                                Delivery
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-cms-page-4-2" class="cms-page-link" href="" title="Learn more about us">
                                                About us
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-cms-page-5-2" class="cms-page-link" href="" title="Our secure payment method">
                                                Secure payment
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-static-page-contact-2" class="cms-page-link" href="" title="Use our form to contact us">
                                                Contact us
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-static-page-sitemap-2" class="cms-page-link" href="" title="Lost ? Find what your are looking for">
                                                Sitemap
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-static-page-stores-2" class="cms-page-link" href="" title="">
                                                Stores
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2 links footer_block">
                                    <h3 class=" hidden-sm-down">Custom Links</h3>
                                    <div class="title clearfix hidden-md-up" data-target="#footer_3" data-toggle="collapse">
                                        <h3>Custom Links</h3>
                                        <span class="float-xs-right">
                                            <span class="navbar-toggler collapse-icons">
                                                <i class="material-icons add">keyboard_arrow_down</i>
                                                <i class="material-icons remove">keyboard_arrow_up</i>
                                            </span>
                                        </span>
                                    </div>
                                    <ul id="footer_3" class="collapse footer_list">

                                        <li>
                                            <a id="link-cms-page-2-3" class="cms-page-link" href="" title="Legal notice">
                                                Legal Notice
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-product-page-prices-drop-3" class="cms-page-link" href="" title="Our special products">
                                                Prices drop
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-product-page-new-products-3" class="cms-page-link" href="" title="Our new products">
                                                New products
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-product-page-best-sales-3" class="cms-page-link" href="" title="Our best sales">
                                                Best sales
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-static-page-authentication-3" class="cms-page-link" href="" title="">
                                                Login
                                            </a>
                                        </li>

                                        <li>
                                            <a id="link-static-page-my-account-3" class="cms-page-link" href="" title="">
                                                My account
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 links footer_block">

                                    <div id="footer_4" class="collapse footer_list">
                                        <div class="img_app">
                                            <a href="#"><img src="http://demo.posthemes.com/pos_ecolife/img/cms/app_store.png" alt=""></a>
                                            <a href="#"><img src="http://demo.posthemes.com/pos_ecolife/img/cms/google_play.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="footer_bottom">
                        <div class="container">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
