PORT=3000
MONGO_URI=mongodb://localhost:27017/org_store
SESSION_SECRET=your-session-secret
JWT_SECRET=your-jwt-secret-key
PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-client-secret
RAZORPAY_KEY_ID=your-razorpay-key-id
RAZORPAY_KEY_SECRET=your-razorpay-key-secret

TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_SERVICE_SID=your-twilio-service-sid
TWILIO_PHONE_NUMBER=your-twilio-phone-number
CORS_ORIGIN=*