<link rel="stylesheet" href="/stylesheets/cart.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9 d-flex justify-content-around">
            <div class="ibox">
                <div class="ibox-title">
                    <h1>Cart is Empty</h1><div style="height: 500px; width: 500px;"><img src="/images/empty-cart-4085814-3385483.webp" alt=""></div>
                </div>

                <div class="ibox-content">
                    {{!-- <a href="/check-out" class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i>Checkout</a> --}}
                    {{!-- <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button> --}}
                    <a href="/"><button class="btn btn-white" ><i class="fa fa-arrow-left"></i> Continue shopping</button></a>
                    

                </div>
            </div>

        </div>

    </div>
</div>
</div>