<link rel="stylesheet" href="/stylesheets/cart.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <h1>No Orders in place</h1>
                </div>

               <div class="ibox-title d-flex justify-content-center" >
                    <img src="/images/empty-box_2.png" alt="" style="width: 600px; height: 400px; padding-bottom: 50px;">
                </div>
                <div class="ibox-content">
                    {{!-- <a href="/check-out" class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i>Checkout</a> --}}
                    {{!-- <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button> --}}
                    <a href="/"><button class="btn btn-white" ><i class="fa fa-arrow-left"></i> Continue shopping</button></a>
                    

                </div>
            </div>

        </div>

    </div>
</div>