<link rel="stylesheet" href="/stylesheets/err404.css">
<div class="row ">
    <div class="col-12 errbody">
        <h1 class="err">Whoops!</h1> 
        <p class="err1">Something went wrong</p><br>
        <a href="/"><p class="err1">Back to Home..</p></a> 
    </div>
</div>
